img{
    width: 186px;
    height: 36px;
}
.riaz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heading{
    margin-top: 100px;


}
.heading h1 {
    height: 70px;
    width: 800px;
    font-size: 64px;
    font-weight: 800;
    color: blue;
    /* margin-top: 100px; */
    padding-left: 100px;

}
.para{
    font-size:20px;
    width: 627px;
    height:90px ;
    margin: 16px 0px 0px;

}
    
.btn{
    background-color: rgb(41, 41, 170);
    color: blue;
}